/* https://coolors.co/282c34-ace0af-48f3ae-a9c1c5-1c1f25 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Trebuchet MS', sans-serif;
    color: #403634;
    background: #d7d3cb;
	margin-left: 15%;
	margin-right: 15%;
    letter-spacing: 1px;
}

header, footer {
    margin-top: 10%;
	margin-bottom: 10%;
    font-family: 'Ubuntu', sans-serif;
	text-align: center;
    color: #531f50;
    background:#d7d3cb
}

h1 {
    font-family: 'Ubuntu', serif;
    font-size: 32px;
    color: #531f50;
    background:#d7d3cb
}

h2 {
    font-family: 'Ubuntu', serif;
    font-size: 24px;
    color: #531f50;
    background:#d7d3cb
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #531f50;
    background:#d7d3cb
}

a, .icon {
	text-decoration: none; 
	color: #b70c51;
	font-weight: bold;
}

a:hover, .icon:hover {
    cursor: pointer;
	text-decoration: none;
	color: #531f50;
    transition:.15s;
}

button, input[type=submit] {
    cursor: pointer;
    background-color: #d7d3cb;
    color: black;
	padding: 6px 16px;
	border: 2px solid #531f50;
	position: relative;
	border-radius: 6px;
}

button:hover, input[type=submit]:hover {
    color: white;
    background-color: #531f50;
    text-decoration: none;
    transition-duration: 0.1s;
}

nav {
	text-align: center;
}

textarea, input[type=text] {
    resize: none;
    width: 100%;
    border: 2px solid #531f50;
    font-family: 'Ubuntu', serif;
    font-size: 16px;
    padding: 3px;
}

input[type=text] {
    width: 50%;
    font-size: 18px;
}

label {
    font-family: 'Ubuntu', serif;
    font-size: 24px;
    color: #531f50;
    background:#d7d3cb;
    background-color:transparent;
}

table {
    color: #222;
    text-align: start;
    border-spacing: 0px!important;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 10px 12px;
    text-align: left;
    background-color: #e3e0da;
	color: #280e1a;

}

td {
    padding: 4px 12px

}

table tr:nth-child(even) {
	background-color: #c7b1ba;
	color: #000;
}

.hide {
    display:none;
}

.error {
    background-color: #CC0000;
    color: #FFFFFF;
    padding: 5px;
}

.active_sort {
    color: inherit;
    /* text-shadow: 0px 0px 10px #ff2079,  0px 0px 10px #ff2079; */
    animation: fadeIn .3s;
    animation-fill-mode: forwards;
    
}
@keyframes fadeIn {
   100% {text-shadow: 0px 0px 10px #ff2079,  0px 0px 10px #ff2079;}
}
 
.inactive_sort {
    color: inherit;
}
.inactive_sort:hover {
    color:#000
}

.login_info {
    display:flex;
    align-items:center;
    top:0px;
    text-align: right;
    margin-right: 0;
    margin-left: auto;
}
::selection {
    background: #934e64;
}
