/* https://coolors.co/282c34-ace0af-48f3ae-a9c1c5-1c1f25 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
    font-family: 'Trebuchet MS', sans-serif;
    color: #bfc9cb;
    background: #282c34;
	margin-left: 15%;
	margin-right: 15%;
    letter-spacing: 1px;
}

header, footer {
    margin-top: 10%;
	margin-bottom: 10%;
    font-family: 'Ubuntu', sans-serif;
	text-align: center;
    color: #ace0af;
    background:#282c34
}

h1 {
    font-family: 'Ubuntu', serif;
    font-size: 32px;
    color: #ace0af;
    background:#282c34
}

h2 {
    font-family: 'Ubuntu', serif;
    font-size: 24px;
    color: #ace0af;
    background:#282c34
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #ace0af;
    background:#282c34
}

a, .icon {
	text-decoration: none;
	color: #48f3ae;
	font-weight: bold;
}

a:hover, .icon:hover {
    cursor: pointer;
	text-decoration: none;
	color: #ace0af;
}

button, input[type=submit] {
    cursor: pointer;
    background-color: #282C34;
    color: white;
	padding: 6px 16px;
	border: 2px solid #ace0af;
	position: relative;
	border-radius: 6px;
}

button:hover, input[type=submit]:hover {
    color: black;
    background-color: #ace0af;
    text-decoration: none;
    transition-duration: 0.1s;
}

nav {
	text-align: center;
}

textarea {
    resize: none;
    width: 100%;
    border: 2px solid #48f3ae;
}

label {
    font-family: 'Ubuntu', serif;
    font-size: 24px;
    color: #ace0af;
    background:#282c34
}

table {
    color: #ddd;
    text-align: start;
    border-spacing: 0px!important;

}
th {
    padding: 10px 12px;
    text-align: left;
    background-color: #1C1F25;
	color: #d7f1e5;

}

td {
    padding: 4px 12px

}

table tr:nth-child(even) {
	background-color: #384e45;
	color: #fff;
}
.hide 
{
    display:none;
}
.hide 
{
    display:none;
}