/* https://coolors.co/282c34-ace0af-48f3ae-a9c1c5-1c1f25 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Trebuchet MS', sans-serif;
    color: #bfc9cb;
    background: #282c34;
	margin-left: 15%;
	margin-right: 15%;
    letter-spacing: 1px;
}

header, footer {
    margin-top: 10%;
	margin-bottom: 10%;
    font-family: 'Ubuntu', sans-serif;
	text-align: center;
    color: #ace0af;
    background:#282c34
}

h1 {
    font-family: 'Ubuntu', serif;
    font-size: 32px;
    color: #ace0af;
    background:#282c34
}

h2 {
    font-family: 'Ubuntu', serif;
    font-size: 24px;
    color: #ace0af;
    background:#282c34
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #ace0af;
    background:#282c34
}

a, .icon {
	text-decoration: none; 
	color: #48f3ae;
	font-weight: bold;
}

a:hover, .icon:hover {
    cursor: pointer;
	text-decoration: none;
	color: #ace0af;
    transition:.15s;
}

button, input[type=submit] {
    cursor: pointer;
    background-color: #282C34;
    color: white;
	padding: 6px 16px;
	border: 2px solid #ace0af;
	position: relative;
	border-radius: 6px;
}

button:hover, input[type=submit]:hover {
    color: black;
    background-color: #ace0af;
    text-decoration: none;
    transition-duration: 0.1s;
}

nav {
	text-align: center;
}

textarea, input[type=text] {
    resize: none;
    width: 100%;
    border: 2px solid #ACE0AF;
    font-family: 'Ubuntu', serif;
    font-size: 16px;
    padding: 3px;
}

input[type=text] {
    width: 50%;
    font-size: 18px;
}

label {
    font-family: 'Ubuntu', serif;
    font-size: 24px;
    color: #ace0af;
    background:#282c34;
    background-color:transparent;
}

table {
    color: #ddd;
    text-align: start;
    border-spacing: 0px!important;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 10px 12px;
    text-align: left;
    background-color: #1C1F25;
	color: #d7f1e5;

}

td {
    padding: 4px 12px

}

table tr:nth-child(even) {
	background-color: #384e45;
	color: #fff;
}

.hide {
    display:none;
}

.error {
    background-color: #CC0000;
    color: #FFFFFF;
    padding: 5px;
}

.active_sort {
    color: inherit;
    /* text-shadow: 0px 0px 10px #00df86,  0px 0px 10px #00df86; */
    animation: fadeIn .3s;
    animation-fill-mode: forwards;
    
}
@keyframes fadeIn {
   100% {text-shadow: 0px 0px 10px #00df86,  0px 0px 10px #00df86;}
}
 
.inactive_sort {
    color: inherit;
}
.inactive_sort:hover {
    color:#fff
}

.login_info {
    display:flex;
    align-items:center;
    top:0px;
    text-align: right;
    margin-right: 0;
    margin-left: auto;
}

#logout_button {
    margin-left:0;
}
#logout_other {
    margin-left:auto;
    margin-right:0;
}
#comment {
    color: white;
}
::selection {
    background: #6cb19b;
}
