{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% from 'macros.html' import flash %}
{% block title %}{{ task.title }}{% endblock %}
{% block header %}Task Details{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Time</th>
            <th>Author</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.text }}</td>
            <td>{{ task.date.split(' ')[0] }}</td>
            <td>{{ task.date.split(' ')[1] }} {{ task.date.split(' ')[2] }}</td>
            <td>{{ author.first_name }} {{ author.last_name }}</td>
            <td>
                <a href="{{ url_for('update_task', task_id=task.id)}}">{{ macros.pencil() }}</a>
            </td>
            <td>
                <form fill="none" action="{{ url_for('delete_task', task_id=task.id) }}" method="post">
                    <label>
                        <button type="submit" value="Delete" class="hide">Delete</button>
                            <!-- Trash Icon (must be inlined or style will not work) source: https://jam-icons.com/ -->
                        {{ macros.trash() }}
                    </label>
                </form>
            </td>
        </tr>
    </table>
    {{ flash() }}
    {% if task.comments %}
        {% if task.comments|length > 0 %}
            <h2>Comments</h2>
            <ul>
            {% for comment in task.comments %}
                <li>{{ authors[comment] }}: {{ comment.content }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    <form action="{{ url_for('new_comment', task_id=task.id) }}" method="post">
        <div class="formwrapper">
            <h2 class="title">Add a comment</h2>
            <div class="form-field">
            {{ form.comment.label }} <br/> {{ form.comment }}
            </div>
            {{ form.submit }}
        </div>
    </form>

{% endblock content %}