{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}Tasks{% endblock %}
{% block header %}Tasks{% endblock %}
{% block content %}
    {% if tasks %}
    <table>
        <tr>
        {% if session.get('sort_ascending') %}
            {% set arrow = '↓' %}
        {% else %}
            {% set arrow = '↑' %}
        {% endif %}
        
        {% if session.get('order_by') == 'title' %}
            <th><a class="active_sort" href="{{ url_for('set_task_order', order='title' )}}">Title {{arrow}}</a></th>
        {% else %}
            <th><a class="inactive_sort" href="{{ url_for('set_task_order', order='title')}}">Title</a></th>
        {% endif %}

        {% if session.get('order_by') == 'date' %}
            <th><a class="active_sort" href="{{ url_for('set_task_order', order='date' )}}">Date {{arrow}}</a></th>
        {% else %}
            <th><a class="inactive_sort" href="{{ url_for('set_task_order', order='date')}}">Date</a></th>
        {% endif %}
            <th></th>
            <th></th>
            <th></th>
        </tr>
        
        {% for task in tasks %}
        <tr>
            <td><a href="{{ url_for('get_task', task_id=task.id)}}">{{ task.title }}</a></td>
            <td>{{ task.date.split(' ')[0] }}</td>
            <td><a href="{{ url_for('update_task', task_id=task.id)}}">{{ macros.pencil() }}</a></td>
            <td>
                <form action="{{ url_for('delete_task', task_id=task.id) }}" method="post">
                <!-- label necessary to group svg and button together so svg can act as button -->
                <label>
                    <button type="submit" value="Delete" class="hide">Delete</button>
                    {{ macros.trash() }}
                </label>
                </form>
            </td>
            <td>
                <form action="{{ url_for('pin_task', task_id=task.id) }}" method="post">
                <!-- label necessary to group svg and button together so svg can act as button -->
                <label>
                    <button type="submit" value="Pin" class="hide">Pin</button>
                    {% if task.pinned %}
                        {{ macros.filled_pin() }}
                    {% else %}
                        {{ macros.empty_pin() }}
                    {% endif %}
                </label>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h2>Try creating a new task!</h2>
    {% endif %}
{% endblock content %}